<div id="main" class="container_12" role="main">
  <div class="grid_12">

<h1>Editing wash</h1>

<%= render 'editform' %>

<%= link_to 'Show', @wash %> |
<%= link_to 'Back', washes_path %>
		
	</div><!-- class=grid_12 -->
</div><!-- class=container -->