<div  class="container_12" role="main">
  <div class="grid_12">

<h1><%= t(:new_wash)%></h1>

<%= render 'newform' %>

<%= link_to 'Back', washes_path %>
  </div> <!-- class=grid_12 -->
</div> <!-- id=main -->