<div id="main" class="container_12" role="main">
  <div class="grid_12">
	<h1>Editing customer</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @customer %> |
	<%= link_to 'Back', customers_path %>
  </div> <!-- class=grid_12 -->
</div> <!-- id=main -->