<div class="container_12" role="main">
  <div class="grid_12">

		<h1>New customer</h1>

		<%= render 'newform' %>
		<%= link_to 'Back', customers_path %>
	</div> <!-- class=grid_12 -->
</div><!-- class=container_12 -->
